#gameScreen {
  /* border: 3px solid #000000; */
  width: 55%;
  border-radius: 3%;
  box-shadow: 1px 5px 8px #888888;
  margin-top: 1%;
}

p {
  font-size: 17px;
}

#borisGame {
  width: 45%;
  border-radius: 3%;
  box-shadow: 1px 5px 8px #888888;
}

body {
  background-image: url("https://data.whicdn.com/images/208932206/original.gif");
}

.opening{
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid white;
  border-radius: 2%;
  box-shadow: 1px 5px 8px #888888;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  margin-top: 1%;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:10%;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  padding:10px 24px;
	text-decoration: none;
	text-shadow:0px 0px 0px #cc9f52;
}
.button:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color:#fb9e25;
  text-decoration: none;
  outline:none !important;
  color: white; 
  transform: translate(0px, 5px);
}

.button:focus {
  outline:none !important;
}

.button:active {
	position:relative;
	top:1px;
}

img{
  margin: 3%;
}

.background-container {
  width: 60%;
}

.about-images-container {
  margin-top: 1%;
  border-radius: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 3px solid white;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 2%;
} 

@media only screen and (max-width: 650px) {
  #borisGame {
    width: 85%; 
    box-shadow: 1px 5px 8px #888888;
    margin-top: 10%;
  }

  .background-container {
    width: 100%;
  }
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1%;
  border-radius: 5%;

}